.main_title{
    font-weight: 500;
    font-size: 23px;
    line-height: 38px;
    color: var(--black_title);    
}

.add_dispo_btn{
    background-color: var(--main_color);
    border: none;
    padding: 14px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: white;
    font-weight: 600;
    font-size: 18px;    
}

.add_dispo_btn img{
    width: 32px;
    height: 32px;
    filter: var(--white_filter);
}

.dispos_container{
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    overflow: hidden;
    row-gap: 16px;    
}

.dispos_container ul{
    padding: 0;
    margin: 0;
    display: grid;
    list-style: none;
    width: 100%;
    grid-template-columns: calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6);
    height: 64px;
    text-align: center;
    border: 1px solid #EBE8FF;
    border-radius: 15px;

}

.dispos_container ul.the_head{
    height: 48px;
    background: #D6E4EC;
}

.dispos_container ul li{
    display: flex;
    align-items: center;
    justify-content: center;  
    column-gap: 4px; 
    color: #797D8C;
    font-weight: 500;
    font-size: 16px;   
}

.dispos_container ul.the_head li{
    font-size: 18px;
    color: var(--main_color);

}

.dispos_container li.actions{
    column-gap: 8px; 
}

.dispos_container li.actions img{
    filter: var(--blue_filter);
}