.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.rating-container h1 {
  color: #0078d4;
  text-align: center;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
}

.rating-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 35px;
  gap: 20px;
}
